*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    position: fixed;
}
.estrellas{
    max-height: 30vh;
}
.estrellas i{
    position: absolute;
    width: 2px;
    height: 2px;
    border-radius: 70px;
    top:-10px;
    background: white;
    animation: estrellas linear infinite;
    
}
@keyframes estrellas{
    0%{
        top:-10px;
    }
    50%{
        top:60vh;
    }
    100%{
        top:100vh;
    }
}
.espacio{
    position: relative;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.espacio h1{
    color: yellow;
    font-family: 'Alumni Sans Collegiate One', sans-serif;
    letter-spacing: 5px;
    font-size: 5em;
    font-weight: normal;
    position: absolute;
    padding-top: 1rem;
    
}

.formulario {
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 7em;
    
}
.formulario input, button{
    margin-top: 15px;
    padding: 15px;
    margin-bottom: 15px;
}
#bienvenida{
    color: white;
    font-size: 3em;
    font-family: 'ArcadeClassic', sans-serif;
    padding-bottom: 1em;
    padding-top: 1em;
    word-spacing: .7em;
}
.entrada{
    display: flex;
    flex-direction: column;
}
.puntos{
    color: white;
    position: fixed;
    z-index: 5;
    left: 10px;
    top: 10px;
    font-family: 'ArcadeClassic', sans-serif;
    font-weight: bolder;
    letter-spacing: 2px;
}
#fin{
    font-family: 'ArcadeClassic', sans-serif;
    color: darkblue;
    text-shadow: 2px;
    position: absolute;
    left: 32%;  
    top: 40%;
    font-size: 100px;
    word-spacing: 2rem;
}
#estadisticas li{
    position: absolute;
    font-family: 'ArcadeClassic', sans-serif;
    color: yellow;
    left: 36vw;  
    top: 30%;
    list-style: none;
    font-size: 1.5rem;
    word-spacing: 10px;
    border: 2px solid yellow;
    padding: 2em;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}
#estadisticas p{
    padding-top: 20px;
    word-spacing: 5px;
    letter-spacing: 3px;
}
#estadisticas h5{
    font-size: 20px;
    letter-spacing: 3px;
    
}
#enemigos{
    position: absolute;
    left: 42.6vw;
    top: 62vh;
    padding-left: 65px;
    padding-right: 63px;
}

.listadoEnemigos li{
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: blue;
    list-style: none;
    font-size: .8rem;
    letter-spacing: 1px;
    border: 2px solid yellow;
    padding: 1em; 
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}
.listadoEnemigos h2{
    margin-bottom: .6em;
}
.listadoEnemigos p{
    margin: .4em;
}
.listadoEnemigos button{
    position: absolute;
    left: 45%;
}
